doctype html
html(lang="ja")
  head
    meta(charest="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title 認証前確認
    link(rel="stylesheet" href="main.sass")
    script(src="main.coffee")
  body
    noscript
      p
        | JavaScriptが無効のため、認証前確認を行うことができません。
        | JavaScriptを有効にしてページを再読み込みしてください。
    div#main
      p 読み込み中…
