doctype html
html
  head
    meta(charest="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title 認証前確認
    link(rel="stylesheet" href="css/main.sass")
    script(src="js/main.coffee")
  body
    noscript
    h1 認証前確認
